<h1>Viewing Party</h1>

<h3><%= @facade_movie.title %></h3>

<%= button_to "Discover Page", user_discover_index_path(@user.id), method: :get %>

<%= button_to "Create Viewing Party", new_user_movie_viewing_party_path(@user.id, @facade_movie.id), method: :get %>

<p>
  Vote: <%= @facade_movie.vote %>
  Runtime: <%= @facade_movie.runtime %>
  Genre: <%= @facade_movie.genre %>
<p>

<h4>Summary</h4>
<p>
<%= @facade_movie.summary %>
</p>

<h4>Cast</h4>
<p>
<% @cast.each do |cast| %>
Actor: <%= cast[:name] %>, character: <%= cast[:character]%>
<% end %>
</p>

<h4><%= @reviews.count %> Reviews</h4>
<p>
<% @reviews.each do |review| %>
  Author <%= review[:author] %> said <%= review[:content] %><br>
<% end %>
</p>

<%= link_to "Get Similar Movies", user_movie_similar_index_path(@user.id, @facade_movie.id), method: :get %>