<h1>Viewing Party</h1>
<h3><%= "#{@user.name}'s Dashboard" %></h3>

<%= button_to "Discover Page", user_discover_index_path(@user.id), method: :get %>

<% @user.viewing_parties.each do |party| %>
  <div class="viewing_party-<% party.id %>">
    <%= image_tag(party.party_movie.poster_path) %><br> 
    <%= link_to party.party_movie.title, user_movie_path(@user.id, party.movie_id) %><br>
    Party Time: <%= party.date %> at <%= party.start_time %><br>
    Hosted By: <%= party.host.name %><br>
    Invited: <% party.guests do |guest| %>
      <b><%= guest.name %></b>
    <% end %>
  </div><br>
<% end %>
