<h1>Viewing Party</h1>
<h3><%= "#{@user.name}'s Dashboard" %></h3>

<%= button_to "Discover Page", user_discover_index_path(@user.id), method: :get %>

<h4>Location: <%= cookies.encrypted[:location] %></h4>
<% @user.viewing_parties.each do |party| %>
  <div class="viewing_party-<%= party.id %>">
    <%= image_tag(party.party_movie.poster_path, size: "100x100") %><br> 

    <%= link_to party.party_movie.title, user_movie_path(@user.id, party.movie_id) %><br>

    Party Time: <%= party.date %> at <%= party.start_time %><br>

    Hosted by: <%= party.host.name %><br>

    Invited: <% party.users.each do |guest| %>
      <% if guest == @user %>
        <b><%= guest.name %></b>
      <% else %>
        <%= guest.name %>
      <% end %>
    <% end %>
  </div><br>
<% end %>

<%= button_to "Log out", login_path, method: :get %>