<h1>Viewing Party</h1>
<h3><%= "#{@user.name}'s Dashboard" %></h3>

<%= button_to "Discover Page", user_discover_index_path(@user.id), method: :get %>

<% @user.viewing_parties.each do |party| %>
  <div class="viewing_party-<% party.id %>">
  <%!binding.pry%>
    <%= image_tag(party.movie.poster_path) %> 
    <%= link_to party.movie.title, user_movie_path(@user.id, party.movie.id) %>
    Party Time: <%= party.date %> at <%= party.start_time %><br>
    <%= party.invite_side %>
  </div><br>
<% end %>
