<h1>Viewing Party</h1>

<%= button_to "Discover Page", user_discover_index_path(@facade.user.id), method: :get %>

<h3>Viewing Party Details</h3>
Movie Title <%= @movie.title %>

<%= form_with( url: user_path(@user.id), method: :create, data: {turbo: false}, local: true) do |f| %>

  <%= f.label :party_duration %>
  <!runtime in minutes!!!!!!>
  <%= f.text_field :party_duration, value: @movie.runtime %><br>

  <%= f.label for="select_date">Select_Date: %>
  <%= f.input type="date" id="date" name="date" %>

  <%= f.label :start_time %>
  <%= f.text_field :start_time, value: "#{7:00}" %><br>

  <h4>Invite Other Users</h4>
  <%= @guests.each do |guest| %>
    <%= f.input type="checkbox" id: "guest_1" name: "@guest" value: "#{guest.id}"%>
    <%= f.label for="guest_1"> "#{guest.name}"%><br>
  <% end %>

  <%= f.submit "Create Party"%>
<% end %>
