<h1>Viewing Party</h1>

<%= button_to "Discover Page", user_discover_index_path(@user.id), method: :get %>

<h3>Viewing Party Details</h3>
Movie Title <%= @facade_movie.title %>

<%= form_with( url: user_path(@user.id), method: :create, data: {turbo: false}, local: true) do |f| %>

  <%= f.label :party_duration, "Party Duration: " %>
  <!runtime in minutes!!!!!!>
  <%= f.text_field :party_duration, value: @facade_movie.runtime %><br>

  <%= f.label "select_date", "Select Date: " %>
  <%= f.date_field :select_date, id: "date" %><br>

  <%= f.label :start_time, "Select Time" %>
  <%= f.text_field :start_time, value: "7:00" %><br>

  <h4>Invite Other Users</h4>
  <% @guests.each do |guest| %>
    <%= f.check_box :guest_1, { multiple: true }, guest.id, nil %>
    <%= f.label "guest_#{guest.id}", "#{guest.name}(#{guest.email})" %><br>
  <% end %>

  <%= f.submit "Create Party"%>
<% end %>
