<h1><%=@movie.title%>'s Similar Movies</h1>

<% @movies.each do |movie| %>
  <div id="movie-<%=movie.id%>">
    <%= image_tag("https://media.themoviedb.org/t/p/original#{movie.poster_path}", size: "100x100") %><br>
    Title: <%= movie.title %><br>
    Overview: <%= movie.summary %>
    Release Date: <%= movie.release_date %>
    Vote Average: <%= movie.vote %><br><br>
  </div>
<% end %>
</p>