<h1>Viewing Party</h1>

<%= form_with( url: user_movies_path(@user.id), local: true, method: :post) do |f| %>
  <%= f.button "Find Top Rated Movies" %>
<% end %>


<%= form_with( url: user_movies_path(@user.id), local: true, method: :post) do |f| %>
  <%= f.text_field :movie_title %>
  <%= f.button "Find Movies" %>
<% end %>